@use 'sass:math';

// * Min Max

@mixin min-max($min-width, $max-width, $padding) {
  box-sizing: border-box;
  min-width: $min-width;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $padding;
}

// * Visually Hidden

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

// * Reset Button

@mixin button-reset {
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@mixin adaptive-video() {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* nastavi vysku kontejneru na 16:9 (pokud 4:3 — dat 75%) */
  overflow: hidden;

  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
  }
}

// * Pixel to rem

@function rem($px) {
  $result: math.div($px, 16) + rem;

  @return $result;
}

/*
  Example: font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1170 - 320)));
*/
