$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Russo One', sans-serif;
$base-size: 16px;
$size: 80px;
$accent: #23bfef;
$black: #000000;
$white: #ffffff;
$tuatara: #262626;
$gray: #b7b7a4;
$dark-blue: #003049;
$text-light: #bebebe;
$border-dark: 1px solid rgba($black, 0.5);
