<section class="hero">
  <div class="hero__wrap wrap">
    <div class="hero__container container">
      <h2 class="hero__text" data-text="Gulp Template...">Gulp Template...</h2>
    </div>
    <div class="hero__nav">
      <div class="hero__social">
        <div class="hero__social-item">
          <svg class="hero__social-icon">
            <use xlink:href="images/sprites/sprite-mono.svg#github"></use>
          </svg>
        </div>
        <div class="hero__social-item">
          <svg class="hero__social-icon">
            <use xlink:href="images/sprites/sprite-mono.svg#twitter"></use>
          </svg>
        </div>
        <div class="hero__social-item">
          <svg class="hero__social-icon">
            <use xlink:href="images/sprites/sprite-mono.svg#vk"></use>
          </svg>
        </div>
        <div class="hero__social-item">
          <svg class="hero__social-icon">
            <use xlink:href="images/sprites/sprite-mono.svg#vimeo"></use>
          </svg>
        </div>
      </div>
      <div class="hero__contact">
        <a href="mailto:conflictboy@hotmail.cz">conflictboy@hotmail.cz</a>
      </div>
      <div class="hero__option">
        <svg class="hero__option-icon">
          <use xlink:href="images/sprites/sprite-mono.svg#plugin"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
