<section class="demo-slider">
  <div class="slider__wrap wrap">
    <div class="home-slider__container container">
      <div class="swiper home-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide home-slider__slide">
            <div class="home-slider__img" style="background-image: url(@img/bg/bg-1.jpg);">
              <p>Slide 1</p>
            </div>
          </div>
          <div class="swiper-slide home-slider__slide">
            <div class="home-slider__img" style="background-image: url(@img/bg/bg-2.jpg);">
              <p>Slide 2</p>
            </div>
          </div>
          <div class="swiper-slide home-slider__slide">
            <div class="home-slider__img" style="background-image: url(@img/bg/bg-3.jpg);">
              <p>Slide 3</p>
            </div>
          </div>
          <div class="swiper-slide home-slider__slide">
            <div class="home-slider__img" style="background-image: url(@img/bg/bg-4.jpg);">
              <p>Slide 4</p>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>
