.plugin {
  margin-top: 10px;
}

.plugin__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: $tuatara;
  border: $border-dark;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 5px rgba($black, 0.5);

  h2 {
    color: darken($white, 30%);
    letter-spacing: rem(1);
  }
}
